.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: white !important;
}
.connect-wallet-btn{
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: #68738D;
  fill: #68738D;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;
  background-color: #F2F6FF;
  border-radius: 16px;
  border: 2px solid transparent;
  height: 100%;
  padding: 4px 16px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}